<nav role="navigation" aria-label="Primary Navigation">
  <div class="menu">
    <ul role="menubar" itemscope itemtype="http://www.schema.org/SiteNavigationElement" aria-hidden="false">
      {% assign links = site.data.nav %}
      {% for link in links %}
      {% assign current = nil %}
      {% if page.url contains link.url %}
      {% assign current = 'aria-current="page"' %}
      {% endif %}
      <li role="menuitem">
        <a href="{{ link.url | prepend: site.baseurl }}" itemprop="url" {{ current }}>
          <img class="svg" src="{{ site.baseurl }}/images/icons/{{ link.icon }}">
          <span itemprop="name">{{ link.title }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
