---
title: Leasing
subtitle: Leasing Partnerships
permalink: "/retail-places/lease-space/"
class: lease-space
parent: Retail Places
description:
categories:
permanent-leasing:
  name: Steven Weiss
  title: 'Sr. EVP Real Estate'
  category: team
  link:
  email: leasing@CentennialREC.com
  phone:
specialty-leasing:
  name: Jim Davis
  title: EVP National Leasing
  category: team
  link:
  email: leasing@CentennialREC.com
  phone:
---

<section class="banner" role="region">
  {% include_relative banner.html %}
</section>

<div class="shadow">

  <header>
    <h1>{{ page.subtitle }}</h1>
  </header>

  <div class="stores" role="region">
    <div class="container">
      <article class="slide-in slide-in-left" role="article">
        <img src="{{ site.baseurl }}/images/{{ page.class }}/stores.jpg" alt="{{ page.title }} stores image">
      </article>

      <aside class="slide-in slide-in-right" role="complementary">
        <h3>Stores</h3>
        <p>Stores are the front lines of retail where personal interactions and customer experiences reign. The opportunity to engage your customer in a physical space creates an unparalleled connection with your brand. Let us help accomplish your store opening goals at local, regional and national levels.  We’re excited to talk to new-to-market and existing concepts alike.</p>
      </aside>
    </div>
  </div>

  <div class="entertainment" role="region">
    <div class="container">
      <aside class="push slide-in slide-in-right" role="complementary">
        <img src="{{ site.baseurl }}/images/{{ page.class }}/entertainment.jpg" alt="{{ page.title }} entertainment image">
      </aside>

      <article class="pull slide-in slide-in-left" role="article">
        <h3>Entertainment</h3>
        <p>You specialize in bringing a unique experience to customers. Centennial will help you create a winning environment. Whether it’s bowling, movies, skydiving or indoor surfing, they all have one thing in common; creating a shared, memorable experience. Let Centennial be a gateway to new markets with your experiential concept.</p>
      </article>
    </div>
  </div>

  <div class="restaurants" role="region">
    <div class="container">
      <article class="slide-in slide-in-left" role="article">
        <img src="{{ site.baseurl }}/images/{{ page.class }}/restaurants.jpg" alt="{{ page.title }} restaurants image">
      </article>

      <aside class="slide-in slide-in-right" role="complementary">
        <h3>Restaurants</h3>
        <p>Centennial believes that food creates a natural gathering place. And variety brings a community together. National favorites, farm-to-table, home-style ethnic food, and chef-driven concepts, all bring unique flavors to our restaurant mix. Whether you’re a local, regional or national operator let’s start a conversation to bring your cuisine to life.</p>
      </aside>
    </div>
  </div>

  <div class="eateries" role="region">
    <div class="container">
      <aside class="push slide-in slide-in-right" role="complementary">
        <img src="{{ site.baseurl }}/images/{{ page.class }}/eateries.jpg" alt="{{ page.title }} eateries image">
      </aside>

      <article class="pull slide-in slide-in-left" role="article">
        <h3>Eateries</h3>
        <p>We know small footprint eateries can make a big impact on customer taste buds. Our portfolio welcomes creative and specialty food uses with flexible small space options to fit your bite- sized business layouts.</p>
      </article>
    </div>
  </div>

  <div class="fitness" role="region">
    <div class="container">
      <article class="slide-in slide-in-left" role="article">
        <img src="{{ site.baseurl }}/images/{{ page.class }}/fitness.jpg" alt="{{ page.title }} fitness image">
      </article>

      <aside  class="slide-in slide-in-right" role="complementary">
        <h3>Fitness</h3>
        <p>The focus on health and wellness isn’t just a millennial trend, it’s a way of life for all ages. Our centers draw a diverse demographic of millions of shoppers a year, so whether 2,000 s. f. or 20,000 s. f. is right-sized for your yoga, barre, HIIT or health club, Centennial can provide the space and visibility you’re looking for.</p>
      </aside>
    </div>
  </div>

  <div class="grocery" role="region">
    <div class="container">
      <aside class="push slide-in slide-in-right" role="complementary">
        <img src="{{ site.baseurl }}/images/{{ page.class }}/grocery.jpg" alt="{{ page.title }} grocery image">
      </aside>

      <article class="pull slide-in slide-in-left" role="article">
        <h3>Grocery</h3>
        <p>Although not a traditional offering at regional shopping centers, Centennial looks at these partnerships from a modern perspective. Tomorrow’s consumers are looking for convenience and we offer the parking, easy access, and a variety of cross-shopping opportunities ideal for these shoppers. Together, we can create a one-stop-shop they’ll come back for again, and again.</p>
      </article>
    </div>
  </div>

  <div class="coworking" role="region">
    <div class="container">
      <article class="slide-in slide-in-left" role="article">
        <img src="{{ site.baseurl }}/images/{{ page.class }}/coworking.jpg" alt="{{ page.title }} co-working image">
      </article>

      <aside  class="slide-in slide-in-right" role="complementary">
        <h3>Co-Working</h3>
        <p>Our forward-thinking approach is a perfect complement to Co-working partners. We understand how sharing a network and a common space can accelerate ideas. Our centers afford the opportunity to creating stunning workspaces where professionals can join hundreds of social employees at a community hub while enjoying multitudes of lunchtime and after work happy hour options.</p>
      </aside>
    </div>
  </div>

  <div class="public-use" role="region">
    <div class="container">
      <aside class="push slide-in slide-in-right role="complementary">
        <img src="{{ site.baseurl }}/images/{{ page.class }}/public-use.jpg" alt="{{ page.title }} public use image">
      </aside>

      <article class="pull slide-in slide-in-left" role="article">
        <h3>Public Use</h3>
        <p>Public uses are vital to our communities, and we want our properties to be the hub of each and every one. Centennial shopping centers are centrally located off major thoroughfares in each of their markets, providing some of the most accessible real estate available. Where better for a library, police station or school extension? We are happy to work with our municipal partners to make our neighborhoods better for all community members.</p>
      </article>
    </div>
  </div>

  <section role="region">
    <div class="contacts">
      <h3>Connect with Centennial Leasing</h3>
      <hr>

      <ul>
        <li>
          <!-- <h5>Permanent Leasing</h5> -->
          {% if page.permanent-leasing.category == "executive" %}
          <a href="{{ page.permanent-leasing.link }}">
            <i><img class="svg" src="{{ site.baseurl }}/images/icons/bio-card-teal.svg" alt="card icon - links to bio page"></i>
            <strong>{{ page.permanent-leasing.name }}</strong><br>
          </a>
          {% else %}
          <strong>{{ page.permanent-leasing.name }}</strong><br>
          {% endif %}
          <span>
            {{ page.permanent-leasing.title }}<br>
            {% if page.permanent-leasing.phone %}
            <a href="tel:{{ page.permanent-leasing.phone }}">(o) {{ page.permanent-leasing.phone }}</a>
            <br>
            {% endif %}
            <a href="mailto:{{ page.permanent-leasing.email | encode_email }}">{{ page.permanent-leasing.email }}</a>
          </span>
        </li>
        <li>
          <!-- <h5>Specialty Leasing</h5> -->
          {% if page.specialty-leasing.category == "executive" %}
          <a href="{{ page.specialty-leasing.link }}">
            <i><img class="svg" src="{{ site.baseurl }}/images/icons/bio-card-teal.svg" alt="card icon - links to bio page"></i>
            <strong>{{ page.specialty-leasing.name }}</strong><br>
          </a>
          {% else %}
          <strong>{{ page.specialty-leasing.name }}</strong><br>
          {% endif %}
          <span>
            {{ page.specialty-leasing.title }}<br>
            {% if page.specialty-leasing.phone %}
            <a href="tel:{{ page.specialty-leasing.phone }}">(o) {{ page.specialty-leasing.phone }}</a>
            <br>
            {% endif %}
            <a href="mailto:{{ page.specialty-leasing.email | encode_email }}">{{ page.specialty-leasing.email }}</a>
          </span>
        </li>
      </ul>

      <a class="cta" href="{{ site.baseurl }}/retail-places/centennial-collection">View Portfolio</a>
    </div>
  </section>

</div>
