// Footer
$footer-padding: $base-spacing;

$footer-bg: $color-dark-grey;
$footer-bg-start: null;
$footer-bg-end: null;
$footer-bg-img: null;

$footer-font-size: 18;
$footer-font-size-tablet: 14;
$footer-font-size-mobile: 16;
$footer-color: $color-white;

$footer-h4-font-size: 24;
$footer-h4-font-size-tablet: 18;
$footer-h4-font-size-mobile: 28;

$footer-link-font-size: 18;
$footer-link-font-size-tablet: 16;
$footer-link-font-size-mobile: 16;
$footer-link-font-weight: 200;
$footer-link-color: $color-white;
$footer-link-color-hover: $color-white;
$footer-link-text-decoration-hover: none;
$footer-link-text-transform: none;

$footer-form-placeholder-font-size: $footer-font-size;
$footer-form-placeholder-font-size-tablet: $footer-font-size-tablet;
$footer-form-placeholder-font-size-mobile: $footer-font-size-mobile;

$footer-address-font-size: 18;
$footer-address-font-size-tablet: 16;
$footer-address-font-size-mobile: $footer-address-font-size;
$footer-address-font-family: $heading-font-family;
$footer-address-name-font-family: $footer-address-font-size;
$footer-address-name-text-transform: none;
$footer-address-letter-spacing: normal;
$footer-address-font-weight: 200;
