// Header
$header-padding: $base-spacing;
$header-border-color: $color-dark-grey;
$header-bg: $color-white;
$header-bg-start: $header-bg;
$header-bg-end: $header-bg;
$header-bg-img: $header-bg;
$header-color: $color-white;
$header-link: $color-white;
$header-link-hover: $color-white;
