$selectric-main-color: $color-white;
$selectric-secondary-color: $color-white;
$selectric-text-color: $color-white;
$selectric-bg-color: transparent;
$selectric-btn-bg-color: transparent;
$selectric-height: 49px;
$selectric-spacing: 10px;
$selectric-border-width: 1px;
$selectric-border-radius: 0px;
$selectric-inner-height: $selectric-height - ($selectric-border-width * 2);
$selectric-font-size: 16;
$selectric-font-size-tablet: 14;
$selectric-font-size-mobile: 14;
