---
layout: default
title: SEE Sustainability
nick: sustainability
subtitle: Transforming Our Centers
subsubtitle: Featured SEE Case Studies
permalink: "/retail-minds/sustainability/"
class: sustainability
parent: Retail Minds
description:
categories:

# Sustainability
sustainability: true
sustainability-title: "Portfolio Achievements"
sustainability-text: "At Centennial, we recognize our role in environmental stewardship, both as a property manager and a vibrant member of the communities we serve. Our efforts are adding up. In 2017, Centennial exceeded our 5% goal to reduce overall energy consumption among reporting properties (actual -6.6%), which equates to a total cost avoidance of $403,267. These five malls collectively diverted 1,229 tons of trash from landfills, which is 22% of our total waste. This is the equivalent of 17,212 VW /bugs of avoided landfill space! The cardboard recycled saved 20,900 mature trees."
sustainability-image: CENT_2018-Creative-Toolkit_Earth-Day_A_FB-Banner_800x467.jpg
sustainability-stats:
  box-1-icon: KWSaved.svg
  box-1-stat: '3.6M kWhs saved annually'
  box-2-icon: treesSaved.svg
  box-2-stat: '20,900 trees saved'
  box-3-icon: recycling.svg
  box-3-stat: '17.212 VW bugs of landfill space not used'
  box-4-icon: Water.svg
  box-4-stat: '1,229 tons of trash diverted'
---

<section role="region">
  {% include_relative banner.html %}
</section>

<div class="shadow">

  <header>
    <h1>{{ page.title }}</h1>
  </header>

  <section id="sustainability" role="region">
    {% for entry in site.data.sustainability %}
    {% assign mod = forloop.index | modulo: 2 %}
    <div class="sustainability-block">
      <div class="sustainability-img">{% if entry.content-image %}<img src="{{ site.baseurl }}/images/sustainability/{{ entry.content-image }}" alt="thumbnail of {{ entry.content-image-alt-text }}">{% endif %}</div>

      {% if mod == 0 %}
      <div class="sustainability-content slide-left">
        <div class="bars"></div>
        <p {% if entry.content-image != true %} class="right" {% endif %}>{{ entry.content }}</p>
      </div>
      {% endif %}

      {% if mod != 0 %}
      <div class="sustainability-content slide-right">
        <div class="bars"></div>
        <p>{{ entry.content }}</p>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </section>

</div>

<section id="transforming-our-centers" class="transforming-our-centers" role="region">

  <header>
    <h1>
      {{ page.subtitle }}
      <span>{{ page.subsubtitle }}</span>
    </h1>

  </header>

  <div class="sustainability-carousel">
        <div>
      <section role="region">
        <aside class="push" role="complementary">
          <figure>
            <img src="{{ site.baseurl }}/images/{{ page.nick }}/{{ page.sustainability-image }}" alt="{{ page.title }} property shot">
            <figcaption>
              <img class="svg" src="{{ site.baseurl }}/images/{{ page.nick }}/SEECENTENNIAL-white.svg" alt="{{ page.title }} logo">
            </figcaption>
          </figure>
        </aside>

        <article class="pull" role="article">
          <h4>{{ page.sustainability-title }}</h4>
          <p>{{ page.sustainability-text }}</p>
        </article>
      </section>

      <section role="region">
        <div class="stats">
          <table>
            <tbody>
              <tr>
                <td>
                  <img src="{{ site.baseurl }}/images/sustainability/{{ page.sustainability-stats.box-1-icon }}" alt="{{ page.sustainability-stats.box-1-icon }} icon">
                  <div class="text-container">
                    <span>{{ page.sustainability-stats.box-1-stat }}</span>
                  </div>
                </td>
                <td>
                  <img src="{{ site.baseurl }}/images/sustainability/{{ page.sustainability-stats.box-2-icon }}" alt="{{ page.sustainability-stats.box-2-icon }} icon">
                  <div class="text-container">
                    <span>{{ page.sustainability-stats.box-2-stat }}</span>
                  </div>
                </td>
                <td>
                  <img src="{{ site.baseurl }}/images/sustainability/{{ page.sustainability-stats.box-3-icon }}" alt="{{ page.sustainability-stats.box-3-icon }} icon">
                  <div class="text-container">
                    <span>{{ page.sustainability-stats.box-3-stat }}</span>
                  </div>
                </td>
                <td>
                  <img src="{{ site.baseurl }}/images/sustainability/{{ page.sustainability-stats.box-4-icon }}" alt="{{ page.sustainability-stats.box-4-icon }} icon">
                  <div class="text-container">
                    <span>{{ page.sustainability-stats.box-4-stat }}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
    {% for mall in site.malls %}
    {% if mall.sustainability == true %}
    <div>
      <section role="region">
        <aside class="push" role="complementary">
          <figure>
            <img src="{{ site.baseurl }}/images/properties/{{ mall.nick }}/{{ mall.sustainability-image }}" alt="{{ mall.title }} property shot">
            <figcaption>
              <img class="svg" src="{{ site.baseurl }}/images/properties/{{ mall.nick }}/mall-logo-white.svg" alt="{{ mall.title }} logo">
            </figcaption>
          </figure>
        </aside>

        <article class="pull" role="article">
          <h4>{{ mall.sustainability-title }}</h4>
          <p>{{ mall.sustainability-text }}</p>
        </article>
      </section>

      <section role="region">
        <div class="stats">
          <table>
            <tbody>
              <tr>
                <td>
                  <img src="{{ site.baseurl }}/images/sustainability/{{ mall.sustainability-stats.box-1-icon }}" alt="{{ mall.sustainability-stats.box-1-icon }} icon">
                  <div class="text-container">
                    <span>{{ mall.sustainability-stats.box-1-stat }}</span>
                  </div>
                </td>
                <td>
                  <img src="{{ site.baseurl }}/images/sustainability/{{ mall.sustainability-stats.box-2-icon }}" alt="{{ mall.sustainability-stats.box-2-icon }} icon">
                  <div class="text-container">
                    <span>{{ mall.sustainability-stats.box-2-stat }}</span>
                  </div>
                </td>
                <td>
                  <img src="{{ site.baseurl }}/images/sustainability/{{ mall.sustainability-stats.box-3-icon }}" alt="{{ mall.sustainability-stats.box-3-icon }} icon">
                  <div class="text-container">
                    <span>{{ mall.sustainability-stats.box-3-stat }}</span>
                  </div>
                </td>
                <td>
                  <img src="{{ site.baseurl }}/images/sustainability/{{ mall.sustainability-stats.box-4-icon }}" alt="{{ mall.sustainability-stats.box-4-icon }} icon">
                  <div class="text-container">
                    <span>{{ mall.sustainability-stats.box-4-stat }}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
